.bg-container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  width: 100vw;
  padding: 100px;
  background-size: cover;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 40px;
  padding: 40px;
}
li {
  list-style-type: none;
}
.container-li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.love {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
